﻿<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <script src={% static 'dtview/jquery.js' %}></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'dtview/bootstrap.min.css' %}>
    <link rel="stylesheet" href="{% static 'dtview/datatables.min.css' %}">
    <link rel="stylesheet" href={% static 'dtview/datatables.button.min.css' %}>
    <link rel="stylesheet" href={% static 'dtview/datetimepicker.css' %}>
    <script src={% static 'dtview/filesaver.js' %}></script>

    <meta charset="utf-8" />
    <title></title>
</head>
<body>
        <button onClick="JsonExport()">Exportovat json</button>
        <button onClick="JsonImport()">Importovat json</button><input type="checkbox" id="checkBoxZachovat"> <label for="checkBoxZachovat">Zachovat pořadí (může smazat záznamy a znefunkčnit aplikaci)</label>
        {% csrf_token %}
        <input id="file-input" type="file" name="importData" accept=".txt, .json" />
    <div id="ZafiltrovanéHodnoty">

    </div>
    <div id="test" style="width:50%; margin:1%">
     </div>
        <div class="container-fluid mt-3">
            <!--Pro zobrazení filtrů změňtě atribut dtZobrazujFiltry na 1-->
        <table id="dtView" class=" display nowrap" style="width:100%"></table>
    </div>
<script>
    $(document).ready(function () {
        var dt = new DtView(
            {
                dtview_name:"AAAC",
                showPreFilter: 0,
                elementId: "test",
                superiorFilter: "",
                ShowFilteredData: zobrazFiltry,
                checkboxCaseSensitive: 1,
                showSettings: 0,
                constraints: {},
                dateFormat:"DD.MM.YYYY"
            })});
</script>

<script>
    function zobrazFiltry(filtry) {
        document.getElementById("ZafiltrovanéHodnoty").innerHTML = "";
        var keys = Object.keys(filtry);
        console.log(keys);
        for(var key of keys)
        {
            document.getElementById("ZafiltrovanéHodnoty").innerHTML += '<span class="badge badge-primary">'+key+': '+filtry[key]+ '</span>';
        }

        console.log(filtry);
    }
    function dt_blizsiInfo(data, type, row, meta) {
        return "<button type='button' onclick='vypsatID("+row.database_id+")'></button><button type='button'onclick='dtDelete("+row.database_id+")'></button>";
    }
    function vypsatID(id) {
        console.log(id);
    }
    function dtDelete(id) {
        console.log("Teď bych vymazal záznam s ID: " + id);
    }
</script>

    <script type="text/javascript">
    function JsonExport() {
        $.ajax({
            'async': true,
            'type': 'GET',
            'global': false,
            'url': '{% url "dtviewExportData" %}',
            'dataType': "json",
            success: function (data) {
                var blob = new Blob([data], { type: "text/plain;charset=utf-8" });
                saveAs(blob, "exportedData.json");
            }
        });}

        function JsonImport() {
        if(confirm('Vážně chcete danou operaci provést ? (Při zachování hodnot může odstranit stávájící položky se stejným id -> může mít destruktivní následky)'))
        {
        let file = document.getElementById("file-input").files[0];
        let reader = new FileReader();
        reader.readAsText(file);
        reader.onload=cteniKompletni;
        }
        function cteniKompletni(kontent){
        $.ajax({
             beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken",
                $('input[name="csrfmiddlewaretoken"]').val());
            },
            'async': true,
            'type': 'POST',
            'global': false,
            'url': '{% url "dtviewImportData" %}',
            'data':{
            'zachovat':document.getElementById("checkBoxZachovat").checked | 0,
            'importedData': kontent.target.result
            },
            success: function (data) {
                if(data){alert("Hotovo");}
            }
        });}}
    </script>

    <script src={% static 'dtview/jquery.popper.min.js' %}></script>
    <script src={% static 'dtview/bootstrap.min.js' %}></script>
    <script src={% static 'dtview/datatables.min.js' %}></script>
    <script src={% static 'dtview/datatables.button.min.js' %}></script>
    <script src={% static 'dtview/datetimepicker.js' %}></script>
    <script src={% static 'dtview/jquery.datetimepicker.js' %}></script>
    <script src={% static 'dtview/validate.js' %}></script>
    <script src={% static 'dtview/moment.min.js' %}></script>

<script>
    var dtview_vytvoritCfg = '{% url "dtviewCreateCfg" %}';
    var dtview_urlConfig = '{% url "dtviewGetCfg" %}';

    var dtview_urlUlozit = '{% url "dtviewUlozitView" %}';
    var dtview_urlVymazat = '{% url "dtviewVymazatView" %}';
    var dtview_urlVytvorit = '{% url "dtviewVytvoritView" %}';
    var csrftoken = '{{ csrf_token }}';
    var dataview_DOWN = '{% static "dtview/sort-alpha-down.png" %}';
    var dataview_UP = '{% static "dtview/sort-alpha-up.png" %}';
    var normalUrl = '{% url "dtviewDefault" %}';
</script>
    <script src={% static 'dtview/dtview.js' %}></script>
</body>
</html>