﻿<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src={% static 'dtview/jquery.js' %}></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'dtview/bootstrap.min.css' %}>
    <link rel="stylesheet" href="{% static 'dtview/datatables.min.css' %}">
    <link rel="stylesheet" href={% static 'dtview/datatables.button.min.css' %}>

    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <script src={% static 'dtview/jquery.popper.min.js' %}></script>
    <script src={% static 'dtview/bootstrap.min.js' %}></script>
    <script src={% static 'dtview/datatables.min.js' %}></script>
    <script src={% static 'dtview/datatables.button.min.js' %}></script>
    <script src={% static 'dtview/filesaver.js' %}></script>


    <div class="container-fluid mt-3">




        <h1>Editace DataTable</h1>
        <p>Klikněte na jakýkoliv řádek pro detail</p>
        <table id="dtView" class="display nowrap " style="width:100%"></table>
        <!--<button onClick="JsonExport()">Exportovat json</button>-->
        <!--<button onClick="JsonImport()">Importovat json</button><input type="checkbox" id="checkBoxZachovat"> <label for="checkBoxZachovat">Zachovat pořadí (může smazat záznamy a znefunkčnit aplikaci)</label>-->
        {% csrf_token %}
        <!--<input id="file-input" type="file" name="importData" accept=".txt, .json" />-->
    </div>
    <!--DTFORM-->
    <div class="modal" id="modal_dt" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">datatable - editace/ vytvoření</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="{% url 'dtviewConfigDt' %}" id="form_dt" method="post" onsubmit="return confirm('Vážně chcete danou operaci provést ? (může mít destruktivní následky)');">
      <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="id_zaznamu" id="dt_idZaznamu">
              {{dt_form}}

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="ulozit"onclick="">Uložit změny</button>
        <button type="submit" class="btn btn-primary" name="novy" onclick="">Vytvořit nový</button>
        <button type="submit" class="btn btn-danger" name="odstranit" onclick="">Odstranit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
      </div>
            </form>
    </div>
  </div>
</div>
    <!--DVFORM-->
    <div class="modal" id="modal_dv" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Zobrazení - editace/ vytvoření</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="{% url 'dtviewConfigDv' %}" id="form_dv" method="post" onsubmit="return confirm('Vážně chcete danou operaci provést ? (může mít destruktivní následky)');">
      <div class="modal-body">

              {% csrf_token %}
              <input type="hidden" name="id_zaznamu" id="dv_idZaznamu">
              <input type="hidden" name="id_parent" id="dv_idParent">
              {{dv_form}}

      </div>
      <div class="modal-footer">
        <button type="submit"  class="btn btn-primary" name="ulozit"onclick="">Uložit změny</button>
        <button type="submit"  class="btn btn-primary" name="novy" onclick="">Vytvořit nový</button>
        <button type="submit"  class="btn btn-danger" name="odstranit" onclick="">Odstranit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
      </div>
            </form>
    </div>
  </div>
</div>
    <!--DTCOLFORM-->
    <div class="modal" id="modal_dtcol" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="{% url 'dtviewConfigDtcol' %}" id="form_dtcol" method="post" onsubmit="return confirm('Vážně chcete danou operaci provést ? (může mít destruktivní následky)');">
      <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="id_zaznamu" id="dtcol_idZaznamu">
              <input type="hidden" name="id_parent" id="dtcol_idParent">
              {{dtcol_form}}

      </div>
      <div class="modal-footer">
        <button type="submit"  class="btn btn-primary" name="ulozit"onclick="">Uložit změny</button>
        <button type="submit"  class="btn btn-primary" name="novy" onclick="">Vytvořit nový</button>
        <button type="submit"  class="btn btn-danger" name="odstranit" onclick="">Odstranit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
      </div>
            </form>
    </div>
  </div>
</div>
    <!--DVCOLFORM-->
    <div class="modal" id="modal_dvcol" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="{% url 'dtviewConfigDvcol' %}" id="form_dvcol" method="post" onsubmit="return confirm('Vážně chcete danou operaci provést ? (může mít destruktivní následky)');">
            <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="id_zaznamu" id="dvcol_idZaznamu">
              <input type="hidden" name="id_parent" id="dvcol_idParent">
              {{dvcol_form}}

      </div>
      <div class="modal-footer">
        <button type="submit"  class="btn btn-primary" name="ulozit"onclick="">Uložit změny</button>
        <button type="submit"  class="btn btn-primary" name="novy" onclick="">Vytvořit nový</button>
        <button type="submit"  class="btn btn-danger" name="odstranit" onclick="">Odstranit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
      </div>
            <</form>>
    </div>
  </div>
</div>






    <script type="text/javascript">
    function dtModal(row) {
        row = row.parentElement;
        rows = $(row).find("td")
        document.getElementById("dt_idZaznamu").value = rows[1].innerHTML;
        document.getElementById("id_dt-nazev").value = rows[0].innerHTML;
            $("#id_dt-trida").val(rows[2].innerHTML.replace(/\s+/g, ''));
        $("#modal_dt").modal("show");
            }
    function dvModal(row) {
        row = row.parentElement;
        rows = $(row).find("td")
        document.getElementById("dv_idParent").value = $($(row).parent().parent().parent().parent().parent().prev()[0]).find("td")[1].innerHTML;
        document.getElementById("dv_idZaznamu").value = rows[0].innerHTML;

        $("#id_dv-datatable").val(document.getElementById("dv_idParent").value);
        document.getElementById("id_dv-nazev").value = rows[1].innerHTML;
        $("#id_dv-user").val(rows[2].innerHTML.split("(")[1].replace(")",""));
        document.getElementById("id_dv-razeni").value = rows[3].innerHTML;
        document.getElementById("id_dv-vychozi").value = rows[4].innerHTML;
        document.getElementById("id_dv-verejne").value = rows[5].innerHTML;
        document.getElementById("id_dv-filtry").value = rows[6].innerHTML;
                $("#modal_dv").modal("show");
            }
            function dtcolModal(row) {
                row = row.parentElement;
                rows = $(row).find("td")
                document.getElementById("dtcol_idParent").value = $($(row).parent().parent().parent().parent().parent().prev()[0]).find("td")[1].innerHTML;
                document.getElementById("dtcol_idZaznamu").value = rows[0].innerHTML;
                console.log($($(row).parent().parent().parent().parent().parent().prev()[0]).find("td")[0].innerHTML);
                console.log(document.getElementById("dtcol_idParent").value);

                $("#id_dtcol-datatable").val(document.getElementById("dtcol_idParent").value);
                document.getElementById("id_dtcol-poradi").value = rows[2].innerHTML;
                document.getElementById("id_dtcol-dtbattr").value = rows[3].innerHTML;
                document.getElementById("id_dtcol-typ").value = rows[4].innerHTML;
                document.getElementById("id_dtcol-colkey").value = rows[5].innerHTML;
                document.getElementById("id_dtcol-label").value = rows[6].innerHTML;
                document.getElementById("id_dtcol-pdb").value = rows[7].innerHTML;
                document.getElementById("id_dtcol-sortable").value = rows[8].innerHTML;
                document.getElementById("id_dtcol-filterable").value = rows[9].innerHTML;
                document.getElementById("id_dtcol-visible").value = rows[10].innerHTML;
                document.getElementById("id_dtcol-vzdy_nacist").value = rows[11].innerHTML;
                document.getElementById("id_dtcol-fmt_funkce").value = rows[12].innerHTML;
                document.getElementById("id_dtcol-konverze").value = rows[13].innerHTML;
                $("#modal_dtcol").modal("show");
            }
    function dvcolModal(row) {
        row = row.parentElement;
        rows = $(row).find("td")
        document.getElementById("dvcol_idParent").value = $($(row).parent().parent().parent().parent().prev()[0]).find("td")[1].innerHTML;
        document.getElementById("dvcol_idZaznamu").value = rows[0].innerHTML;

        $("#id_dvcol-dtcol").val(rows[1].innerHTML);
        $("#id_dvcol-dtdv").val(rows[2].innerHTML);
        document.getElementById("id_dvcol-poradi").value = rows[3].innerHTML;
                $("#modal_dvcol").modal("show");
            }
        </script>
    <script type="text/javascript">
    function JsonExport() {
        $.ajax({
            'async': true,
            'type': 'GET',
            'global': false,
            'url': '{% url "dtviewExportData" %}',
            'dataType': "json",
            success: function (data) {
                var blob = new Blob([data], { type: "text/plain;charset=utf-8" });
                saveAs(blob, "exportedData.json");
            }
        });}

        function JsonImport() {
        if(confirm('Vážně chcete danou operaci provést ? (Při zachování hodnot může odstranit stávájící položky se stejným id -> může mít destruktivní následky)'))
        {
        let file = document.getElementById("file-input").files[0];
        let reader = new FileReader();
        reader.readAsText(file);
        reader.onload=cteniKompletni;
        }
        function cteniKompletni(kontent){
        $.ajax({
             beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken",
                $('input[name="csrfmiddlewaretoken"]').val());
            },
            'async': true,
            'type': 'POST',
            'global': false,
            'url': '{% url "dtviewImportData" %}',
            'data':{
            'zachovat':document.getElementById("checkBoxZachovat").checked | 0,
            'importedData': kontent.target.result
            },
            success: function (data) {
                if(data){alert("Hotovo");}
            }
        });}}
    </script>
    <script>
    function dtviewZviditelni(element) {
        let radek = $(element).closest('tr').next('tr')
        if ($(radek).is(':visible')){
            $(radek).hide();
        } else {
            $(radek).show();
        }
    }

    function childRowFormat(d) {
        let dtview="";
        let dtcol = "";


        for (let i = 0; i < d.dtview_dtcol.length; ++i) {
            dtcol += "<tr class='dtviewChildInformace dtcol'>" +
                "<td>" + d.dtview_dtcol[i].id + "</td>" +
                "<td>" + d.dtview_dtcol[i].dt_id + "</td>" +
                "<td>" + d.dtview_dtcol[i].poradi + "</td>" +
                "<td>" + d.dtview_dtcol[i].dtbattr + "</td>" +
                "<td>" + d.dtview_dtcol[i].typ + "</td>" +
                "<td>" + d.dtview_dtcol[i].colkey + "</td>" +
                "<td>" + d.dtview_dtcol[i].label + "</td>" +
                "<td>" + d.dtview_dtcol[i].pdb + "</td>" +
                "<td>" + d.dtview_dtcol[i].sortable + "</td>" +
                "<td>" + d.dtview_dtcol[i].filterable + "</td>" +
                "<td>" + d.dtview_dtcol[i].visible + "</td>" +
                "<td>" + d.dtview_dtcol[i].vzdy_nacist + "</td>" +
                "<td>" + d.dtview_dtcol[i].fmt_funkce + "</td>" +
                "<td>" + d.dtview_dtcol[i].konverze + "</td>" +
                "</tr>";
        }
        for (let i = 0; i < d.dtview_dv.length; ++i) {
            dtv = d.dtview_dv[i];
            let dvcol = "";
            dtview += "<tr class='ChildDtview_view dv' onclick='dtviewZviditelni(this)'>" +
                "<td>" + dtv.id + "</td>" +
                "<td>" + dtv.nazev + "</td>" +
                "<td>" + dtv.user+ "</td>" +
                "<td>" + dtv.razeni + "</td>" +
                "<td>" + dtv.vychozi + "</td>" +
                "<td>" + dtv.verejne + "</td>" +
                "<td>" + dtv.filtry + "</td>" +
                "</tr>";
            for (let j = 0; j < dtv.dtview_dvcol.length; ++j) {
                dvc = dtv.dtview_dvcol[j];
                dvcol += "<tr class='dtviewChildInformace dvcol'>" +
                "<td>" + dvc.id + "</td>" +
                "<td>" + dvc.dtcol_id + "</td>" +
                "<td>" + dvc.dv_id + "</td>" +
                "<td>" + dvc.poradi + "</td>" +
                "</tr>";
            }
            dtview += "<tr style='display:none'>" +
             "<td colspan='6'>"+
            '<table class="childTable" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;width:100%;margin-left:40px">' +
                "<h4 style='margin-left:20px;border-top:4px dashed black'>Sloupce v zobrazení (dvcol)</h4>" +
                "<tr>" +
                "<th>id</th>" +
                "<th>dtcol_id</th>" +
                "<th>dv_id</th>" +
                "<th>Pořadí</th>" +
                "</tr>" +
                dvcol +
                '</table>' +
                "<td>"+
                "</tr>";
        }



        return "<div>"+
            "<h4 style='margin-left:20px;margin-top:5px; border-top:4px dashed black'> Řádky tabulky(dtcol)</h4>" +
            '<table class="childTable" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;width:100%;margin-left:20px">' +
            "<tr>" +
            "<th>id</th>" +
            "<th>dt_id</th>" +
            "<th>Pořadí</th>" +
            "<th>Dtbattr</th>" +
            "<th>Typ</th>" +
            "<th>Colkey</th>" +
            "<th>Label</th>" +
            "<th>Pdb</th>" +
            "<th>Sortable</th>" +
            "<th>Filterable</th>" +
            "<th>Visible</th>" +
            "<th>Vždy načíst</th>" +
            "<th>Formátovací funkce</th>" +
            "<th>Konverze</th>" +
            "</tr>" +
            dtcol +
            '</table>' +
            "<h4 style='margin-left:20px;border-top:4px dashed black'>Definice zobrazení (dv)</h4>"+
            '<table class="childTable" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;width:100%;margin-left:20px">' +
            "<tr>" +
            "<th>id</th>" +
            "<th>Název</th>" +
            "<th>Uživatel</th>" +
            "<th>Řazení</th>" +
            "<th>Výchozí</th>" +
            "<th>Veřejné</th>" +
            "<th>Filtry</th>" +
            "</tr>" +
            dtview +
            '</table>' +
            "</div>";
    }




    </script>
    <script>
    var dtview_urlConfig = '{% url "dtviewGetViewCfg" %}';
    var dtview_urlData = '{% url "konfiguraceView" %}';
    </script>





    <!-- ZDE ZAČÍNÁ DTVIEW.js-->
    <script>
    $(document).ready(function () {
        $('#form_dv label').each(function () {
            this.insertAdjacentHTML('beforebegin', '<div class="form-group">');
            this.nextSibling.className += " form-control";
            this.nextSibling.insertAdjacentHTML('afterend', '<div class="form-group">');
        })
        $('#form_dt label').each(function () {
            this.insertAdjacentHTML('beforebegin', '<div class="form-group">');
            this.nextSibling.className += " form-control";
            this.nextSibling.insertAdjacentHTML('afterend', '<div class="form-group">');
        })
        $('#form_dvcol label').each(function () {
            this.insertAdjacentHTML('beforebegin', '<div class="form-group">');
            this.nextSibling.className += " form-control";
            this.nextSibling.insertAdjacentHTML('afterend', '<div class="form-group">');
        })
        $('#form_dtcol label').each(function () {
            this.insertAdjacentHTML('beforebegin', '<div class="form-group">');
            this.nextSibling.className += " form-control";
            this.nextSibling.insertAdjacentHTML('afterend', '<div class="form-group">');
        })

        var myDialog = document.getElementsByTagName('body')[0];
    myDialog.insertAdjacentHTML('beforeend', '<div class="modal fade" id="NastaveniModal" tabindex="-1" role="dialog" aria-hidden="true"> \
                          <div class="modal-dialog modal-lg" role="document" style="width:100vw">\
                            <div class="modal-content">\
                              <div class="modal-header">\
                                <h5 class="modal-title">Nastavení zobrazení</h5>\
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">\
                                  <span aria-hidden="true">&times;</span>\
                                </button>\
                              </div>\
                              <div class="modal-body">\
                                        <input type="hidden" name="operace" value=""/>\
                                        <div class="container mb-3">\
                                            <div class="form-inline">\
                                                <label class="col-form-label" for="dtNazevZobrazeni">Název zobrazení</label>\
                                                    <div class="col-sm-10">\
                                                        <input id="dtNazevZobrazeni" name="nazevZobrazeni" class="form-control" type="text">\
                                                    </div>\
                                            </div>\
                                        </div>\
                                <div class="container">\
                                    <div class="row">\
                                      <ul id="dtVybraneRadky" class="p-3 border border-success col-5" draggable="false" style="float:left">\
                                        </ul>\
                                        <div class="col-2"></div>\
                                      <ul id="dtZbyleRadky" class="p-3 border border-secondary col-5" draggable="false" style="float:right">\
                                    </ul>\
                                 </div>\
                                </div>\
                                 <div class="row form-check" id="dtNastaveniVerejne">\
                                <input id="dtNastaveniVerejneCheckBox" type="checkbox" name="verejne"> <label class="font-weight-bold" for="dtNastaveniVerejneCheckBox" >Veřejné</label>\
                                 </div>\
                                </div>\
                                <div class="modal-footer">\
                                    <button id="dtBtnVymazatZobrazeni" type="button" class="btn btn-danger">Vymazat zobrazení</button>\
                                    <button id="dtBtnUlozitZobrazeni" type="button" class="btn btn-primary">Uložit jako nové zobrazení</button>\
                                    <button id="dtBtnUlozitZmeny" type="button" class="btn btn-secondary">Uložit změny</button>\
                                </div>\
                                </div>\
                            </div>\
                          </div>\
                <div class="modal fade" id="FiltrModal" tabindex="-1" role="dialog" aria-hidden="true">\
                          <div class="modal-dialog modal-lg" role="document" style="width:100vw">\
                            <div class="modal-content">\
                              <div class="modal-header">\
                                <h5 class="modal-title">Filtry</h5>\
                                <button type="button" id="dtZavritFiltr" class="close" data-dismiss="modal" aria-label="Close">\
                                  <span aria-hidden="true">&times;</span>\
                                </button>\
                              </div>\
                              <div id="dtFiltrModalBody" class="modal-body"></div>\
                        <div class="modal-footer">\
                        <button id="dtBtnZrusitFiltr" class="btn btn-secondary">Zrušit filtry</button>\
                        <button id="dtBtnFiltr" class="btn btn-primary">Aplikovat filtry</button>\
                        </div>\
                        </div>\
                              </div>\
                            </div>');
    $.ajax({
        'async': true,
        'type':'GET',
        'global': false,
        'url': dtview_urlConfig,
        'dataType': "json",
        'success': function (JsonDatatableData) {
            var data;
            let tridy = document.getElementById("dtView").classList;
            let zobrazovatFiltry = false;
            for (let i = 0; i < tridy.length; ++i) {
                if (tridy[i] == "dtZobrazujFiltry") {
                    document.getElementById("dtBtnZrusitFiltr").style.display = "none";
                    document.getElementById("dtZavritFiltr").style.display = "none";
                    $('#FiltrModal').modal({ backdrop: 'static', keyboard: false });
                    zobrazovatFiltry = true;
                    break;
                }
            }
            $.ajax({
                'async': true,
                'type':'GET',
                'global': false,
                'url': dtview_urlData,
                'dataType': "json",
                success: function (JsonData) {
                    var json = JsonDatatableData;
                    data = JsonData;
                    let FiltrovanaData = [];
                    let vybrany_table = json.dtview_dt.id
                    let vybrane_zobrazeni;
                    if (json.dtview_cfg.dv_id != null) { vybrane_zobrazeni = json.dtview_cfg.dv_id; }
                    else { vybrane_zobrazeni = json.dtview_dv.find(function (zobrazeni) { return zobrazeni.vychozi == 1 }).id; }
                    let vsechny_sloupce = [];
                    json.dtview_dt.dtview_dtcol.filter(function (polozka) { return polozka.visible == 1; }).forEach(function (item, index) { vsechny_sloupce[index] = item; });
                    vsechny_sloupce.sort(function (a, b) { return a.poradi - b.poradi; });
                    let vybrane_sloupce = [];
                    function nastav_vybrane_sloupce() {
                        vybrane_sloupce = [];
                        json.dtview_dv.find(function (zobrazeni) { return zobrazeni.id == vybrane_zobrazeni; }).dtview_dvcol.forEach(function (item, index) { vybrane_sloupce[index] = item; });//Vezme sloupce ze zobrazeni
                        vybrane_sloupce.sort(function (a, b) { return a.poradi - b.poradi; });
                        vybrane_sloupce = vybrane_sloupce.map(function (e) { return vsechny_sloupce.find(function (a) { return a.id == e.col_id && a.visible == 1 }); });
                        vybrane_sloupce = vybrane_sloupce.filter(function (sloupec) { return sloupec != null; });
                    }
                    nastav_vybrane_sloupce();
                    let vsechny_zobrazeni = [];
                    json.dtview_dv.filter(function (zobrazeni) { return zobrazeni.user_id == json.dtview_cfg.user_id || zobrazeni.verejne == 1; }).forEach(function (item, index) { vsechny_zobrazeni[index] = item; });
                    let data_colkey;
                    let data_label;
                    let columnKeys;
                    function nastav_collumkey() {
                        data_colkey = vybrane_sloupce.map(function (sloupec) { return sloupec.colkey; });
                        data_label = vybrane_sloupce.map(function (sloupec) { return sloupec.label; });
                        columnKeys = [];
                        vybrane_sloupce.forEach(function (item, index) { columnKeys[index] = { data: data_colkey[index], title: data_label[index], render: null }; })
                    }
                    nastav_collumkey();

                    let tabulka;
                    var detailRows = [];
                    function inicializace_tabulky(useThisData) {
                        if (useThisData == null) { useThisData = data; }
                        let razeni = [];
                        if (json.dtview_dv.find(function (zobrazeni) { return zobrazeni.id == vybrane_zobrazeni; }).razeni.length > 0) {
                            razeni.push(json.dtview_dv.find(function (zobrazeni) { return zobrazeni.id == vybrane_zobrazeni; }).razeni.split(" ")[0]);
                            razeni.push(json.dtview_dv.find(function (zobrazeni) { return zobrazeni.id == vybrane_zobrazeni; }).razeni.split(" ")[1]);
                        }
                        else {
                            razeni.push(0);
                            razeni.push("asc")
                        }
                        for (let i = 0; i < vybrane_sloupce.length; ++i) {

                            if (vybrane_sloupce[i].colkey == razeni[0]) {
                                razeni[0] = i;
                            }
                        }
                        dtPridatTlacitka();
                        tabulka = $('#dtView').DataTable({
                            "processing": true,
                            "dom": '<"row mb-2 ml-2 mr-2"><"row"<"col-3"l><"col-6"<"text-center"<"toolbar">>><"col-3"f>>rtip',
                            data: useThisData,
                            "order": [razeni],
                            dataSrc: "data",
                            "columns": columnKeys,
                            "scrollX": true,
                            "language": {
                                "lengthMenu": "Zobrazuje se _MENU_ záznámu na stránku",
                                "zeroRecords": "Nic nebylo nalezeno",
                                "info": "Strana _PAGE_ z _PAGES_",
                                "infoEmpty": "Žádné záznamy",
                                "infoFiltered": "(filtrováno z _MAX_ záznamů)",
                                "search": "Hledat",
                                "paginate": {
                                    "first": "První",
                                    "last": "Poslední",
                                    "next": "Další",
                                    "previous": "Předchozí"
                                },
                            }
                        });
                        var detailRows = [];

                        if (typeof childRowFormat === "function") {
                            $('#dtView tbody tr').not('.dtviewChildInformace').click(function () {
                                var tr = $(this).closest('tr');
                                var row = tabulka.row(tr);
                                var idx = $.inArray(tr.attr('id'), detailRows);
                                if (row.child.isShown()) {
                                    tr.removeClass('details');
                                    row.child.hide();
                                    detailRows.splice(idx, 1);
                                }
                                else {
                                    tr.addClass('details');
                                    row.child(childRowFormat(row.data())).show();
                                    $("#dtView  tbody > tr > button.dtview_config_editace").remove();
                                    $('#dtView  tbody > tr').not(":has(th)").each(function (index, tr) {
                                        if (tr.classList.contains('dvcol')) {
                                            tr.insertAdjacentHTML('beforeend','<button onclick="event.stopPropagation();dvcolModal(this);" class="dtview_config_editace ">EDITOVAT</button>');
                                        }
                                        else if (tr.classList.contains('dtcol')) {
                                            tr.insertAdjacentHTML('beforeend','<button onclick="event.stopPropagation();dtcolModal(this);" class="dtview_config_editace ">EDITOVAT</button>');
                                        }
                                        else if (tr.classList.contains('dv')) {
                                            tr.insertAdjacentHTML('beforeend','<button onclick="event.stopPropagation();dvModal(this);" class="dtview_config_editace ">EDITOVAT</button>');
                                        }
                                        else {
                                            tr.insertAdjacentHTML('beforeend','<button onclick="event.stopPropagation();dtModal(this);" class="dtview_config_editace ">EDITOVAT</button>');
                                        }
                                    });
                                    if (idx === -1) {
                                        detailRows.push(tr.attr('id'));
                                    }
                                }
                            });
                        }
                        $("#dtView  tbody > tr > button.dtview_config_editace").remove();
                        $('#dtView  tbody > tr').not(":has(th)").each(function (index, tr) {
                            if (tr.classList.contains('dvcol')) {

                                tr.insertAdjacentHTML('beforeend','<button onclick="event.stopPropagation();dvcolModal(this);" class="dtview_config_editace ">EDITOVAT</button>');
                            }
                            else if (tr.classList.contains('dtcol')) {
                                tr.insertAdjacentHTML('beforeend','<button onclick="event.stopPropagation();dtcolModal(this);" class="dtview_config_editace ">EDITOVAT</button>');
                            }
                            else if (tr.classList.contains('dv')) {
                                tr.insertAdjacentHTML('beforeend','<button onclick="event.stopPropagation();dvModal(this);" class="dtview_config_editace ">EDITOVAT</button>');
                            }
                            else {
                                tr.insertAdjacentHTML('beforeend','<button onclick="event.stopPropagation();dtModal(this);" class="dtview_config_editace ">EDITOVAT</button>');
                            }
                        });

                        $("div.toolbar").html("<select id='dataTableSelect'></select> \
                            <button onclick=\"$('#NastaveniModal').modal('show');\" class=\"btn btn-primary\"><i class=\"fas fa-cogs\"></i> Nastaveni</button>  \
                            <button onclick=\"$('#FiltrModal').modal('show');\" class=\"btn btn-primary\"><i class=\"fas fa-search\"></i> Filtr</button>");
                        vsechny_zobrazeni.forEach(function (item, index) {
                            if (item.id == vybrane_zobrazeni) {

                                if (item.user_id == json.dtview_cfg.user_id) {
                                    document.getElementById('dataTableSelect').insertAdjacentHTML("beforeend", "<option value='" + item.id + "'selected style='background:#e8e8e8'>" + item.nazev + "</option>");
                                }
                                else {
                                    document.getElementById('dataTableSelect').insertAdjacentHTML("beforeend", "<option value='" + item.id + "'selected style='background:white'>" + item.nazev + "</option>");
                                }
                            }
                            else {
                                if (item.user_id == json.dtview_cfg.user_id) {
                                    document.getElementById('dataTableSelect').insertAdjacentHTML("beforeend", "<option value='" + item.id + "'style='background:#e8e8e8'>" + item.nazev + "</option>");
                                }
                                else {
                                    document.getElementById('dataTableSelect').insertAdjacentHTML("beforeend", "<option value='" + item.id + "'style='background:white'>" + item.nazev + "</option>");
                                }
                            }
                        });
                        $('#dataTableSelect').on('change', dataTableOnChange);
                    }
                    inicializace_tabulky();
                    tabulka.on('draw', function () {
                            $.each(detailRows, function (i, id) {
                                $('#' + id + ' td.details-control').trigger('click');
                            });

                        });

                        function dtPridatTlacitka() {
                            vybrane_sloupce.filter(function (sloupec) { return sloupec.fmt_funkce.length > 0; }).forEach(function (sloupec) {
                                columnKeys[vybrane_sloupce.indexOf(sloupec)].render = window[sloupec.fmt_funkce];
                                columnKeys[vybrane_sloupce.indexOf(sloupec)].title = "Funkce";
                            })
                        }


                    document.getElementById('dtView_wrapper').insertAdjacentHTML('beforebegin', '<div style="margin: auto;width:90%"><div class="row justify-content-center" style="width:100%;"><div id =\'dtFilters\' class="col-xs-6 row"></div><button id="dtBtnZrusitFiltr2" class="ml-3 btn btn-secondary" style="display:none">Zrušit filtry</button></div></div></div>')
                    $('#dtBtnZrusitFiltr2').on('click', dtBtnZrusitFiltrOnClick);



                    function ulozitZmenyZobrazeni() {
                    }


                    function ulozitNoveZobrazeni() {
                    }
                    $('#dtBtnVymazatZobrazeni').on('click', vymazatZobrazeni);
                    $('#dtBtnUlozitZmeny').on('click', ulozitZmenyZobrazeni);
                    $('#dtBtnUlozitZobrazeni').on('click', ulozitNoveZobrazeni);

                    function vymazatZobrazeni() {
                    }
                    let draggedElement = null;
                    let dragoverElement = null;
                    function onDragStart(element) {
                        element.originalEvent.dataTransfer.setData('text', 'anything');
                        draggedElement = element.target;
                        draggedElement.style.opacity = '0.6';
                    }
                    function onDragEnd(element) {
                        element.target.style.opacity = '1';
                    }
                    function onDragEnter(element) {
                        if (element.target.id == "dtZbyleRadky" || element.target.id == "dtVybraneRadky") {
                            dragoverElement = element.target;
                        }
                        else {
                            let ua = window.navigator.userAgent;
                            let msie = ua.indexOf("MSIE ");
                            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))
                            { }
                            else
                            {
                                element.target.style.outline = '1px solid black';
                                element.target.style.borderTop = '2px dashed blue';
                            }
                            dragoverElement = element.target;
                        }

                    }
                    function onDragLeave(element) {
                        element.target.style.outline = '1px solid black';
                        element.target.style.borderTop = 'none';
                    }
                    function onDrop(element) {
                        element.preventDefault();
                        draggedElement.style.opacity = '1';
                        if (dragoverElement.id != "dtZbyleRadky" || dragoverElement.id != "dtVybraneRadky") {
                            dragoverElement.style.outline = '1px solid black';
                            dragoverElement.style.borderTop = 'none';
                        }
                        draggedElement.style.outline = '1px solid black';
                        draggedElement.style.borderTop = 'none';
                        if (draggedElement != dragoverElement) {
                            draggedElement.parentNode.removeChild(draggedElement);
                            if (dragoverElement.id == "dtZbyleRadky" || dragoverElement.id == "dtVybraneRadky") {
                                dragoverElement.insertAdjacentHTML('beforeend', draggedElement.outerHTML);
                            }
                            else {
                                dragoverElement.insertAdjacentHTML('beforebegin', draggedElement.outerHTML);
                            }
                        }
                        draggedElement = null;
                        dragoverElement = null;

                        $('#dtVybraneRadky li').unbind();
                        $('#dtZbyleRadky li').unbind();

                        $('#dtVybraneRadky li').on('click', razeniClick);
                        $('#dtZbyleneRadky li').on('click', razeniClick);

                        $('#dtVybraneRadky li').on('dragstart', onDragStart);
                        $('#dtVybraneRadky li').on('dragend', onDragEnd);
                        $('#dtZbyleRadky li').on('dragstart', onDragStart);
                        $('#dtZbyleRadky li').on('dragend', onDragEnd);

                        $('#dtVybraneRadky').on('dragenter', onDragEnter);
                        $('#dtZbyleRadky').on('dragenter', onDragEnter);
                        $('#dtVybraneRadky li').on('dragleave', onDragLeave);
                        $('#dtZbyleRadky li').on('dragleave', onDragLeave);

                    }
                    function onDragOver(element) {
                        element.preventDefault();
                    }
                    function aktualizujNastaveni() {
                        document.getElementById('dtNazevZobrazeni').placeholder = json.dtview_dv.find(function (zobrazeni) { return zobrazeni.id == vybrane_zobrazeni; }).nazev;
                        if (json.dtview_cfg.user_id == json.dtview_dv.find(function (zobrazeni) { return zobrazeni.id == vybrane_zobrazeni; }).user_id) {
                            document.getElementById('dtBtnUlozitZmeny').style.display = "block";
                            document.getElementById('dtBtnVymazatZobrazeni').style.display = "block";
                        }
                        else {
                            document.getElementById('dtBtnUlozitZmeny').style.display = "none";
                            document.getElementById('dtBtnVymazatZobrazeni').style.display = "none";
                        }
                        let element = document.getElementById('dtVybraneRadky');
                        element.innerHTML = "";
                        for (let i = 0; i < vybrane_sloupce.length; ++i) {
                            let sloupec = vybrane_sloupce[i];
                            element.insertAdjacentHTML("beforeend", "<li class='p-2 mb-3 text-center font-weight-bold font-italic' id='dtNastaveni_" + sloupec.colkey + "' draggable='true' style='list-style-type: none;cursor: move; outline: 1px solid black;'>" + sloupec.label + "</li");
                        }
                        element = document.getElementById('dtZbyleRadky');
                        element.innerHTML = "";
                        for (let i = 0; i < vsechny_sloupce.length; ++i) {
                            if (vybrane_sloupce.indexOf(vsechny_sloupce[i]) == -1) {
                                let sloupec = vsechny_sloupce[i];
                                element.insertAdjacentHTML("beforeend", "<li class='p-2 mb-3 text-center font-weight-bold' id='dtNastaveni_" + sloupec.colkey + "' draggable='true' style='list-style-type: none;cursor: move; outline: 1px solid black;'>" + sloupec.label + "</li");
                            }
                        }

                        if (json.dtview_dv.find(function (zobrazeni) { return zobrazeni.id == vybrane_zobrazeni; }).verejne == 1) {
                            $('#dtNastaveniVerejneCheckBox').prop('checked', true);
                        }
                        else {
                            $('#dtNastaveniVerejneCheckBox').prop('checked', false);
                        }


                        $('#dtVybraneRadky li').unbind();
                        $('#dtZbyleRadky li').unbind();

                        $('#dtVybraneRadky li').on('click', razeniClick);
                        $('#dtZbyleneRadky li').on('click', razeniClick);

                        $('#dtVybraneRadky li').on('dragstart', onDragStart);
                        $('#dtVybraneRadky li').on('dragend', onDragEnd);
                        $('#dtVybraneRadky').on('dragstart', onDragStart);
                        $('#dtVybraneRadky li').on('dragend', onDragEnd);
                        $('#dtZbyleRadky li').on('dragstart', onDragStart);
                        $('#dtZbyleRadky li').on('dragend', onDragEnd);

                        $('#dtVybraneRadky').on('dragenter', onDragEnter);
                        $('#dtZbyleRadky').on('dragenter', onDragEnter);
                        $('#dtVybraneRadky li').on('dragleave', onDragLeave);
                        $('#dtZbyleRadky li').on('dragleave', onDragLeave);
                    }
                    aktualizujNastaveni();


                    let elementRazeni = null;
                    function razeniClick(element) {
                        if (elementRazeni != element.target && elementRazeni != null) {
                            if (elementRazeni.classList.contains("dtRazeni-up") || elementRazeni.classList.contains("dtRazeni-down")) {
                                elementRazeni.removeChild(elementRazeni.lastElementChild);
                                elementRazeni.classList.remove("dtRazeni-down");
                                elementRazeni.classList.remove("dtRazeni-up");
                                elementRazeni.style.backgroundColor = "white";
                            }
                            elementRazeni = element.target;
                        }
                        else { elementRazeni = element.target; }
                        if (elementRazeni.classList.contains("dtRazeni-up")) {
                            elementRazeni.classList.remove("dtRazeni-up");
                            elementRazeni.classList.add("dtRazeni-down");
                            elementRazeni.removeChild(element.target.lastElementChild);
                            elementRazeni.insertAdjacentHTML("beforeend", "<i class='fas fa-sort-alpha-down fa-lg text-danger float-right'>");
                            elementRazeni.style.backgroundColor = "#edf6fc";
                        }
                        else if (elementRazeni.classList.contains("dtRazeni-down")) {

                            elementRazeni.removeChild(element.target.lastElementChild);
                            elementRazeni.classList.remove("dtRazeni-down");
                            elementRazeni.style.backgroundColor = "white";
                            elementRazeni = null;
                        }
                        else {
                            elementRazeni.classList.add("dtRazeni-up");
                            elementRazeni.insertAdjacentHTML("beforeend", "<i class='fas fa-sort-alpha-up fa-lg text-primary float-right'>");
                            elementRazeni.style.backgroundColor = "#edf6fc";
                        }

                    }



                    $('#dtVybraneRadky').on('dragover', onDragOver);
                    $('#dtZbyleRadky').on('dragover', onDragOver);

                    $('#dtVybraneRadky').on('drop', onDrop);
                    $('#dtZbyleRadky').on('drop', onDrop);
                    function aktualizujFiltry() {
                        let element = document.getElementById('dtFiltrModalBody');
                        element.innerHTML = "";
                        vybrane_sloupce.filter(function (sloupec) { return sloupec.filterable == 1; }).forEach(function (item, index) {
                            element.insertAdjacentHTML("beforeend", "<input type='text' class='form-control mb-3' placeholder='" + item.label + "'>")
                        });
                    }
                    aktualizujFiltry()

                    function dtBtnFiltrOnClick() {

                        let splnuje = false;
                        FiltrovanaData = [];
                        let filtryNaVlozeni = [];
                        document.getElementById('dtFilters').innerHTML = "";
                        let arrayInput = [];
                        let arrayInputPlaceholder = [];
                        $('#dtFiltrModalBody').children('input').each(function (index) {
                            arrayInputPlaceholder[index] = $(this).attr('placeholder');
                            arrayInput[index] = $(this).val();
                            if (!splnuje && $(this).val().length > 0) { splnuje = true; }
                        });
                        if (splnuje) {
                            if (zobrazovatFiltry) {
                                document.getElementById("dtBtnZrusitFiltr").style.display = "block";
                                document.getElementById("dtZavritFiltr").style.display = "block";

                            }

                            let array = vybrane_sloupce.filter(function (sloupec) { return sloupec.filterable == 1; });
                            array = array.map(function (e) { return e.colkey; });
                            for (let i = 0; i < array.length; ++i) {
                                if (arrayInput[i].length <= 0) {
                                    arrayInput.splice(i, 1);
                                    array.splice(i, 1);
                                    arrayInputPlaceholder.splice(i, 1);
                                    --i;
                                }
                            }
                            outer_loop: for (let i = 0; i < data.length; i++) {
                                let plniPodminky = true;
                                for (let j = 0; j < array.length && plniPodminky; j++) {
                                    plniPodminky = false;
                                    if (data[i][array[j]] == arrayInput[j]) {
                                        plniPodminky = true;
                                    }
                                    else { continue outer_loop; }
                                };
                                FiltrovanaData.push(data[i]);
                            }
                            for (let i = 0; i < arrayInput.length; i++) {
                                if (arrayInput[i].length > 0) { filtryNaVlozeni.push("<p class='my-1 mr-2 p-1 bg-info text-white font-weight-bold' style='font-size:13px;border-radius: 14px;'>" + arrayInputPlaceholder[i] + ": " + arrayInput[i] + "</p>"); }
                            }
                            tabulka.destroy();
                            document.getElementById('dtView').innerHTML = "";
                            inicializace_tabulky(FiltrovanaData);
                            for (let i = 0; i < filtryNaVlozeni.length; i++) {
                                document.getElementById('dtFilters').insertAdjacentHTML("beforeend", filtryNaVlozeni[i]);
                            }
                            document.getElementById('dtBtnZrusitFiltr2').style.display = 'block';
                            if (zobrazovatFiltry) {
                                data = FiltrovanaData;
                                zobrazovatFiltry = false;
                            }
                            $('#FiltrModal').modal('hide');
                        }
                        else {
                            alert("Musíte vyplnit alespoň jeden sloupec");
                        }
                    }

                    $('#dtBtnFiltr').on('click', dtBtnFiltrOnClick);

                    $('#dtBtnZrusitFiltr').on('click', dtBtnZrusitFiltrOnClick);
                    function dtBtnZrusitFiltrOnClick() {
                        document.getElementById('dtBtnZrusitFiltr2').style.display = 'none';
                        FiltrovanaData = [];
                        tabulka.destroy();
                        document.getElementById('dtView').innerHTML = "";
                        inicializace_tabulky(data);
                        document.getElementById('dtFilters').innerHTML = "";
                        $('#dtFiltrModalBody').children('input').each(function (index) {
                            $(this).val("");
                        })
                        $('#FiltrModal').modal('hide');

                    }

                    function dataTableOnChange() {
                        var vybrana_value = this.value;
                        vybrane_zobrazeni = vybrana_value;
                        nastav_vybrane_sloupce();
                        nastav_collumkey();
                        aktualizujFiltry();
                        aktualizujNastaveni();
                        tabulka.clear();
                        tabulka.destroy();
                        document.getElementById('dtView').innerHTML = "";
                        if (FiltrovanaData.length > 0) { inicializace_tabulky(FiltrovanaData); }
                        else { inicializace_tabulky(data) }
                    }
                }
            });
        }
    });
});
    </script>
    <!-- ZDE KONČÍ DTVIEW.js-->




</body>
</html>