﻿<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <script src={% static 'dtview/jquery.js' %}></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'dtview/bootstrap.min.css' %}>
    <link rel="stylesheet" href="{% static 'dtview/datatables.min.css' %}">
    <link rel="stylesheet" href={% static 'dtview/datatables.button.min.css' %}>
    <link rel="stylesheet" href={% static 'dtview/datetimepicker.css' %}>


    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="ZafiltrovanéHodnoty">

    </div>
    <div id="test" style="width:50%; margin:1%">
     </div>
        <div class="container-fluid mt-3">
            <!--Pro zobrazení filtrů změňtě atribut dtZobrazujFiltry na 1-->
        <table id="dtView" class=" display nowrap" style="width:100%"></table>
    </div>
<script>
    $(document).ready(function () {
        var dt = new DtView(
            {
                dtview_name:"AAAC",
                showPreFilter: 1,
                elementId: "test",
                superiorFilter: "{% url 'test' %}",
                ShowFilteredData: zobrazFiltry,
                checkboxCaseSensitive: 1,
                showSettings: 1,
                constraints: {},
                dateFormat:"DD.MM.YYYY"
            })});
</script>

<script>
    function zobrazFiltry(filtry) {
        document.getElementById("ZafiltrovanéHodnoty").innerHTML = "";
        var keys = Object.keys(filtry);
        console.log(keys);
        for(var key of keys)
        {
            document.getElementById("ZafiltrovanéHodnoty").innerHTML += '<span class="badge badge-primary">'+key+': '+filtry[key]+ '</span>';
        }

        console.log(filtry);
    }
    function dt_blizsiInfo(data, type, row, meta) {
        return "<button type='button' onclick='vypsatID("+row.database_id+")'></button><button type='button'onclick='dtDelete("+row.database_id+")'></button>";
    }
    function vypsatID(id) {
        console.log(id);
    }
    function dtDelete(id) {
        console.log("Teď bych vymazal záznam s ID: " + id);
    }
</script>
    <script src={% static 'dtview/jquery.popper.min.js' %}></script>
    <script src={% static 'dtview/bootstrap.min.js' %}></script>
    <script src={% static 'dtview/datatables.min.js' %}></script>
    <script src={% static 'dtview/datatables.button.min.js' %}></script>
    <script src={% static 'dtview/datetimepicker.js' %}></script>
    <script src={% static 'dtview/jquery.datetimepicker.js' %}></script>
    <script src={% static 'dtview/validate.js' %}></script>
    <script src={% static 'dtview/moment.min.js' %}></script>

<script>
    var dtview_vytvoritCfg = '{% url "dtviewCreateCfg" %}';
    var dtview_urlConfig = '{% url "dtviewGetCfg" %}';
    var dtview_urlUlozit = '{% url "dtviewUlozitView" %}';
    var dtview_urlVymazat = '{% url "dtviewVymazatView" %}';
    var dtview_urlVytvorit = '{% url "dtviewVytvoritView" %}';
    var csrftoken = '{{ csrf_token }}';
    var dataview_DOWN = '{% static "dtview/sort-alpha-down.png" %}';
    var dataview_UP = '{% static "dtview/sort-alpha-up.png" %}';
    var normalUrl = '{% url "dtviewDefault" %}';
</script>
    <script src={% static 'dtview/dtview.js' %}></script>
</body>
</html>